@import "../../index.scss";
@import url("https://fonts.googleapis.com/css?family=Satisfy&display=swap");

.hero {
  background: url(../../images/marbles.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  // font-family: $font-family-cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-background;
  color: $primary-text-color;
  -webkit-box-shadow: 0px 7px 8px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 8px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 7px 8px -10px rgba(0, 0, 0, 0.75);
  .hero__picture {
    width: 200px;
    border: 3px solid $secondary-color;
    border-radius: 50%;
    max-height: 100%;
    background-color: rgba(255, 255, 255, 0.801);
  }

  .hero__content {
    text-align: center;
    .hero__content__title {
      margin: 0;
    }
  }
}
