@import "../../index.scss";

.portfolio{
    width: 100%;
    margin: 10px 50px;
    .portfolio__header{
        @include headlinebox($secondary-background);
    }
    .portfolio__container__right{
        float: right;
        width: 50%;
        height: 100%;
        background-color: $third-background;
    }
    .portfolio__container__left{
        width: 50%;
    }
}