@import "../../index.scss";

.portfolio {
  width: 100%;
  margin: 10px 50px;
  .portfolio__content {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    justify-content: center;
    .portfolio__content__image {
      width: 50%;
      min-width: 300px;
    }
    .portfolio__container__right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      min-width: 300px;
      border-radius: 0 5px 5px 0;
      background-color: $primary-background;
    }
  }
}
@media screen and (max-width: 960px) {
  .portfolio{
    margin: 0;
  }
}

