@import "../../index.scss";

* {
  box-sizing: border-box;
}


article,
aside,
footer,
header,
nav,
section {
  display: block;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  .main__header {
    flex: 100%;
    height: 100vh;
    transition: height 999999s;
  }
  .main__top {
    flex: 100%;
  }
  .main__first {
    flex: 100%;
  }
  .main__two {
    flex: 100%;
    // height: 400px;
  }
  .main__three {
    flex: 100%;
  }
  .main__fourth {
    flex: 100%;
  }
  .main__fifth{
    flex: 100%;
  }
}
@media screen and (max-width: 960px) {
  .app__main {
    margin: 0;
  }
  .main__three {
    margin-left: 0 !important;
  }
}
