@import '../../index.scss';

* {
  box-sizing: border-box;
}

.app__main{
  margin: 0 0 0 16rem;
}

article, aside, footer, header, nav, section {
  display: block;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  .head {
    @include headlinebox($secondary-background);
  }
  .main__header {
    flex: 100%;
    height: 50vh;
  }
  .main__arrowUp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: $primary-background;
    border: 2px solid $primary-background;
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 2em;
    cursor: pointer;
    z-index: 15;
  }
  .main__top {
    flex: 100%;
    height: 50vh;
  }
  .main__first {
    flex: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background: $third-background;
  }
  .main__two {
    flex: 100%;
    height: 400px;
  }
  .main__three {
    z-index: -10;
    width: 100%;
    display: flex;
    position: relative;
  }
  .main__fourth {
    height: 400px;
    z-index: -10;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    .main__fourth__left {
      flex: 1;
      height: 100%;
      min-width: 300px;
      background: url(../../images/greymap.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .main__fourth__right {
      flex: 1;
      height: 100%;
      min-width: 300px;
      height: 400px;
      background: $third-background;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}