@import "../../index.scss";
.skills {
  max-width: 500px;
  .skills__pic__gray {
    display: inline-block;

  }
  .skills__pic__gray .skills__pic__color {
    display: none;
    top: 0;
    left: 0;
    z-index: 99;
  }
  .skills__ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0;
    .skills__li {
      list-style: none;
      margin: 0 30px;
      // border-radius: 5px;
    }
  }
}
