@import "../../index.scss";
.contact {
  width: 100%;
  .contact__head {
    @include headlinebox($secondary-background);  
    margin: 50px 0;
  }
  .contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: auto;
    margin-bottom: 20px;
    .contact__form__input {
      width: 80%;
      color: rgb(0, 0, 0);
      font-size: 1rem;
      border-radius: 10px;
      padding: 5px 10px;
      margin: 10px 0 0px 0px;
      display: inline-block;
      background-color: rgba(211, 211, 211, 0.178);
      border: 0px;
      text-decoration: none;
      font-family: "K2D", sans-serif;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(143, 143, 143, 0.54);
      -moz-box-shadow: 0px 0px 5px 0px rgba(143, 143, 143, 0.54);
      box-shadow: 0px 0px 5px 0px rgba(143, 143, 143, 0.54);

      &:focus {
        outline: none;
      }
    }
    .contact__form__button {
      border-radius: 10px;
      cursor: pointer;
    }
  }

  textarea {
    width: 80%;
    background: rgba(211, 211, 211, 0.178);
    font-size: 1rem;
    margin: 23px;
    padding: 10px 0px 0px 10px;
    font-family: "K2D", sans-serif;
    border: none;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(143, 143, 143, 0.54);
    -moz-box-shadow: 0px 0px 5px 0px rgba(143, 143, 143, 0.54);
    box-shadow: 0px 0px 5px 0px rgba(143, 143, 143, 0.54);
    // border-bottom: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    &:focus {
      outline: none;
    }
  }
}

@media screen and (max-width: 960px) {
  .contact__form {
    width: 100vw !important;
  }
}
