body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Overpass";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(44, 93, 102);
    border: 1px solid #f1f1f1;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

//Colors website
$primary-color: #878ee2;
$secondary-color: rgb(44, 93, 102);
$third-color: rgb(183, 207, 241);

$primary-background: rgb(230, 230, 230);
$secondary-background: rgba(182, 182, 182, 0.342);
$third-background: rgba(255, 255, 255, 0.658);

$primary-text-color: rgb(46, 46, 46);
$secondary-text-color: white;
$third-text-color: rgb(88, 87, 87);
$special-text-color: rgb(216, 61, 221);

//Skew properties
//Vertical
$skew-negative-v: (skew(0deg, -2deg));
$skew-negative-box: (skew(3deg, 0deg));

//Horizontal
$skew-negative-h: (skew(-3deg, 0deg));

//Fonts
$font-family-cursive: "Overpass";

//Mixins
@mixin headlinebox($secondary-background) {
  align-items: center;
  // font-family: $font-family-cursive;
  color: $secondary-text-color;
  width: 200px;
  margin: auto;
  background-color: $secondary-color;
  position: relative;
  text-align: center;
  padding: 10px 10px 7px 10px;
  z-index: 10;
  border-radius: 10px;
  // text-shadow: 2px 2px 2px #444444;
}
@mixin buttons($secondary-color) {
  transition: all 0.5s ease;
  border-radius: 30px;
  font-size: 20px;
  border: none;
  padding: 5px 10px;
  margin: 10px;
  background: $secondary-color;
  color: white;
  cursor: pointer;
  &:hover {
    background: $third-color;
  }
  &:focus {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(91, 80, 242, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(91, 80, 242, 1);
    box-shadow: 0px 0px 5px 0px rgba(91, 80, 242, 1);
    outline: none;
  }
}

a {
  transition: all 0.5s ease;
}


//Keyframes
@keyframes fadeout {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@import url("https://fonts.googleapis.com/css?family=Satisfy&display=swap");

@import url("https://fonts.googleapis.com/css?family=Overpass&display=swap");
